In [4]:
pip install selenium

Requirement already satisfied: selenium in /Users/owner/opt/anaconda3/lib/python3.7/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Users/owner/opt/anaconda3/lib/python3.7/site-packages (from selenium) (1.24.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install splinter

Requirement already satisfied: splinter in /Users/owner/opt/anaconda3/lib/python3.7/site-packages (0.13.0)
Requirement already satisfied: six in /Users/owner/opt/anaconda3/lib/python3.7/site-packages (from splinter) (1.12.0)
Requirement already satisfied: selenium>=3.141.0 in /Users/owner/opt/anaconda3/lib/python3.7/site-packages (from splinter) (3.141.0)
Requirement already satisfied: urllib3 in /Users/owner/opt/anaconda3/lib/python3.7/site-packages (from selenium>=3.141.0->splinter) (1.24.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install pymongo

Requirement already satisfied: pymongo in /Users/owner/opt/anaconda3/lib/python3.7/site-packages (3.10.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import time
from selenium import webdriver
from splinter import Browser
import pymongo

In [8]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.mars_db
collection = db.items

In [9]:
url = 'https://mars.nasa.gov/news/'
response = requests.get(url)

In [10]:
headlines_soup = bs(response.text, 'lxml')

In [11]:
news_title = headlines_soup.find('div', class_ = 'content_title').text.strip()

In [12]:
news_title

"Alabama High School Student Names NASA's Mars Helicopter"

In [13]:
news_p = headlines_soup.find('div', class_ = 'rollover_description_inner').text.strip()

In [14]:
news_p

"Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet."

In [15]:
#executable_path = {"executable_path": "chromedriver"}
#browser = Browser("chrome", **executable_path, headless=False)

In [16]:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
response = requests.get(featured_image_url)

In [24]:
html = Browser.html
image_soup = bs(html, "lxml")
img_url = image_soup.find('img', class_ = 'fancybox-image')['src']

NameError: name 'browser' is not defined

In [18]:
featured_img_url = "https://www.jpl.nasa.gov" + img_url

NameError: name 'img_url' is not defined

In [19]:
weather_url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(weather_url)

In [20]:
weather_soup = bs(response.text, 'html.parser')

In [21]:
mars_weather_tweet = weather_soup.find_all('div', class_ = "js-tweet-text-container")

In [22]:
for tweet in mars_weather_tweet:
    if tweet.text.strip().startswith('Sol'):
        mars_weather = tweet.text.strip()

In [23]:
mars_weather

NameError: name 'mars_weather' is not defined

In [30]:
facts_url = 'https://space-facts.com/mars/'
Browser.visit(facts_url)

AttributeError: 'function' object has no attribute 'visit'

In [31]:
mars_df = pd.read_html(facts_url)
mars_df = (mars_df[0])

In [32]:
mars_df.columns = ["Description", "Value"]

In [33]:
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [34]:
mars_df = mars_df.to_html(classes='mars')
table_data = mars_df.replace('\n', ' ')
table_data

'<table border="1" class="dataframe mars">   <thead>     <tr style="text-align: right;">       <th></th>       <th>Description</th>       <th>Value</th>     </tr>   </thead>   <tbody>     <tr>       <th>0</th>       <td>Equatorial Diameter:</td>       <td>6,792 km</td>     </tr>     <tr>       <th>1</th>       <td>Polar Diameter:</td>       <td>6,752 km</td>     </tr>     <tr>       <th>2</th>       <td>Mass:</td>       <td>6.39 × 10^23 kg (0.11 Earths)</td>     </tr>     <tr>       <th>3</th>       <td>Moons:</td>       <td>2 (Phobos &amp; Deimos)</td>     </tr>     <tr>       <th>4</th>       <td>Orbit Distance:</td>       <td>227,943,824 km (1.38 AU)</td>     </tr>     <tr>       <th>5</th>       <td>Orbit Period:</td>       <td>687 days (1.9 years)</td>     </tr>     <tr>       <th>6</th>       <td>Surface Temperature:</td>       <td>-87 to -5 °C</td>     </tr>     <tr>       <th>7</th>       <td>First Record:</td>       <td>2nd millennium BC</td>     </tr>     <tr>       <th>8</th>       <td>Recorded By:</td>       <td>Egyptian astronomers</td>     </tr>   </tbody> </table>'

In [35]:
post = {
    'headline': headline, 
    'news': news, 
    'featured': featured_img_url,
    'weather': mars_weather,
    'facts': table_data
}
collection.insert_one(post)

NameError: name 'headline' is not defined